/* Sidebar Component Styles */

.left-toolbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow-y: hidden;
  background: #333;
  padding: 10px 0;
}

.left-toolbar .hr {
  margin: 15px 0;
  width: 40px;
  height: 1px;
  background: #666;
}

.left-toolbar .left-toolbar-button {
  display: flex;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #666;
  background: #333;
  border-radius: 2px;
  font-size: 20px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #ccc;
  margin: -1px 0; /* Overlap borders */
  user-select: none;
}

.left-toolbar .left-toolbar-button:hover {
  background: #888;
  color: #fff;
  border-color: #999;
  z-index: 1;
}

.left-toolbar .left-toolbar-button.toggled {
  background: #aaa;
  color: #fff;
  border-color: #bbb;
}

.left-toolbar .left-toolbar-button:active {
  background: #666;
  transform: scale(0.95);
}

/* Icon styles */
.left-toolbar .left-toolbar-button span {
  pointer-events: none;
}

/* Text label (for unit button) */
.left-toolbar .left-toolbar-button span:empty::before {
  content: attr(data-label);
}
